// start .sForm
.sForm {
	position: relative;
	overflow: hidden;

	.picture-bg {
		img {
			width: 100%;
		}
	}

	h2 {
		font-weight: 800;
		font-size: 38px;
		text-transform: uppercase;
	}


	.section-title {
		color: #fff;
	}

	.form-wrap {
		background-color: #fff;
		box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.13);
		border-radius: 10px;
		padding: 20px;

		&__title {
			@extend .mono;
			margin-bottom: 20px;
			font-size: 25px;
			text-transform: uppercase;
			font-weight: bold;
		}

		&__input-wrap {
			padding-bottom: 14px;
		}

		&__btn {
			@extend .btn;
			@extend .btn-dark;
			display: block;
			width: 100%;
			margin-top: 6px;
		}

		textarea {
			height: 104px;

		}
	}

	&__tel {
		color: #fff;
		display: inline-flex;
		align-items: center;
		margin-right: rem(40);
		.icon {
			font-size: rem(20);
			margin-right: 5px;
		}
	}


	&__mail {
		color: #fff;
		display: inline-flex;
		align-items: center;

		span {
			border-bottom: solid 1px #fff;
			@include mt;
		}
		.icon {
			font-size: rem(18);
			margin-right: 10px;
		}

		&:hover span{
			border-color: $primary;
		}

	}
	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-between(md, xl) { }
	@include media-breakpoint-only(xl) {}
	@include media-breakpoint-down(xs) {} 

} // end.sForm