mixin sContact()
	// start sContact
	+b.SECTION.sContact.section#sContact&attributes(attributes)
		+e.container.container
			+b.section-title.text-center
				h2 Контактная информация
			.row
				.col-md-6.col-lg-4
					+e.title Реквизиты
					+e.details
						+e.detail-item
							span ИНН:
							span 000000000000
						+e.detail-item
							span ОРГНИП:
							span 000000000000000
						+e.detail-item
							span Р/С:
							span 00000000000 ИНФОРМ
				.col-md-6.col-lg-4
					+e.title Связь с нами
					+e.tel-mail-cont
						+telAndMailItem('phone')
							li: a(href="tel:+74956639601") +7 (495) 663-96-01
							li: a(href="tel:+74956639601") +7 (495) 663-96-01
							li: a(href="tel:+74956639601") +7 (495) 663-96-01
						+telAndMailItem('email', 'green-links')
							li: a(href="mailto:sales@inplast.ru") sales@inplast.ru
							li: a(href="mailto:info@inplast.ru") info@inplast.ru
				.col-md-6.col-lg-4.offset-md-3.offset-lg-0
					+e.title Где мы находимся
					+e.shedule-cont
						+sheduleItem('location')
							p Россия, Московская область, Долгопрудный, Лихачёвский проезд, 4с1
							a(href="#") Смотреть на карте
						+sheduleItem('clock')
							p 09:00 – 18:00 по будням
	// end sContact
mixin sheduleItem(imgName)
	+e.shedule-item
		+e.shedule-img
			img(src=`img/svg/${imgName}.svg` alt="")
		+e.shedule-content
			block

mixin telAndMailItem(imgName, contentClasses)
	+e.tel-mail-item
		+e.tel-mail-img
			img(src=`img/svg/${imgName}.svg` alt="")
		+e.tel-mail-content(class=contentClasses)
			ul
				block