mixin sCatalogInner()
	// start sCatalogInner
	+b.SECTION.sCatalogInner.section#sCatalogInner&attributes(attributes)
		.container
			+b.section-title.text-center
				h2 sCatalogInner
				
			.row
	// end sCatalogInner