// start .headerBlock
.headerBlock {

	margin-bottom: 1px;
	// min-height: 100vh;
	// min-height: calc(var(--vh, 1vh) * 100);

	&__headerSlider {
		position: relative;
	}

	.headerSlider-next, .headerSlider-prev {
		position: absolute;
		@include a-cent(y);
		z-index: 5;
		outline: none;
	}

	.headerSlider-next {
		@include media-breakpoint-up(xl) {
		right: 8.2vw;
		}
		right: rem(15);
	}

	.headerSlider-prev {
		@include media-breakpoint-up(xl) {
		left: 8.2vw;
		}
		left: rem(15);
	}

	.swiper-slide picture {
		img {
			width: 100%;
		}
	}

	.swiper-pagination-bullet {
		border: 2px solid $gray-400;
		width: 12px;
		height: 12px;
		background-color: transparent;
		&-active {
			background-color: $gray-400;
		}
	}

	.swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction {
		bottom: 20px;
		@include media-breakpoint-up(sm) {
			bottom: 2px;
		}
	}


	@include media-breakpoint-up(xl) {}

	@include media-breakpoint-up(lg) {}

	@include media-breakpoint-up(md) {}

	@include media-breakpoint-up(sm) {}

	@include media-breakpoint-up(xs) {}

	//
	@include media-breakpoint-between(md, xl) {}


	//
	@include media-breakpoint-only(xs) {}

	@include media-breakpoint-only(sm) {}

	@include media-breakpoint-only(md) {}

	@include media-breakpoint-only(lg) {}

	@include media-breakpoint-only(xl) {}

	//
	@include media-breakpoint-down(xl) {}

	@include media-breakpoint-down(lg) {}

	@include media-breakpoint-down(md) {}

	@include media-breakpoint-down(sm) {}

	@include media-breakpoint-down(xs) {}

}

// end.headerBlock