mixin sProject()
	// start sProject
	+b.SECTION.sProject.section#sProject&attributes(attributes)
		.container-fluid
			+b.section-title.text-center
				h2 Нами реализовано множество проектов
				
			+e.row
				+e.col 1
				+e.col 2
				+e.col 3
				+e.col 4
				+e.col 5
				+e.col 6
				+e.col 7
				+e.col 8
				+e.col 9
				+e.col 10
	// end sProject