mixin sProject()
	// start sProject
	+b.SECTION.sProject.section#sProject&attributes(attributes)
		.container-fluid
			+b.section-title.text-center.d-none.d-md-block
				h2 Нами реализовано множество проектов
				
			+e.row
				+e.col 
					+projectItem('1','Космодром "Восточный"','Поставка сварных воздуховодов и решеток из нержавеющей стали для систем вентиляции участков сборки и заправки ракет')
				+e.col 
					+projectItem('2','ЖК "Двинцев"','Поставка изделий собственного производства, воздушных и балансировочных клапонов')
				+e.col 
					+projectItem('3','МГУ имени М.В.Ломоносова','Поставка крепежных и вентиляционных изделий, решеток и аксессуаров SMAY')
				+e.col 
					+projectItem('4','Международный аэропорт Внуково','Поставка изоляционных материалов, шумоглушителей, воздухораспределителей, воздушных и огнезадерживающих клапонов, диффузоров SMAY, воздуховодов, фасонных и крепежных изделий')
				+e.col 
					+projectItem('5','"Хаятт Ридженси Сочи"','Поставка решеток и диффузоров SMAY, наружных решеток РН, воздуховодов, фасонных и крепежных изделий')
				+e.col 
					+projectItem('6','Москва-Сити','Поставка в ММДЦ “МОСКВА-СИТИ” всего спектра производимой продукции: решеток и диффузоров SMAY, воздушных и огнезадерживающих клапанов, вентиляторов, воздуховодов и фасонных изделий для систем общеобменной и аварийной вентиляции, крепежных изделий и изоляционных материалов.')
				+e.col 
					+projectItem('7','Дворец спорта "Большой" в Олимпийском парке города Сочи','Поставка в Ледовый Дворец воздушных и огнезадерживающих клапанов, регуляторов переменного расхода воздуха VAV, решеток и диффузоров SMAY, решеток легкой серии ALW–L, воздуховодов и крепежных изделий')
				+e.col 
					+projectItem('8','Клиническая больница имени С.П.Боткина','Поставка вентиляционных решеток и воздухораспределителей SMAY, воздуховодов и решеток из нержавеющей стали')
				+e.col 
					+projectItem('9','ООО "Самсунг Электроникс Рус Калуга"','Поставка решеток и диффузоров SMAY, наружных решеток РН, воздуховодов, фасонных и крепежных изделий')
				+e.col 
					+projectItem('10','ТРЦ "Columbus"','Поставка алюминиевых решеток и диффузоров SMAY, вихревых воздухораспределителей дальнего радиуса действия, крепежных изделий')
	// end sProject

mixin projectItem(i,title,t)
	+b.projectItem(href="#")
		+pic(`project-${i}`,'bg','')(class="picture-bg")
		+e.textBlock
			+e.title= title
			p= t

