mixin sSmayProj()
	// start sSmayProj
	+b.SECTION.sSmayProj.section#sSmayProj&attributes(attributes)
		.container
			+b.section-title.text-center
				h2 Проекты SMAY
			e.items
				+smayProjItem(1, 'Аэропорт Краков-Балице')
					p Аэропорт в городе Краков после реконструкции стал одним из самых современных в Восточной Европе. Такому стратегически важному объекту необходима качественная система вентиляции. SMAY занимает лидирующие позиции в сфере производства и установки систем дымоудаления.
				+smayProjItem(2, 'Институт Высокого Давления при Академии наук Варшава')
					p Варшавский Институт Высокого Давления при Академии наук является местом проведения лабораторных испытаний и исследований. Соответственно требования к вентиляционной системе должны быть высокими. Необходимо обеспечить подачу и регулирование приточного воздуха, также осуществить правильную вытяжку и учесть множество других факторов.
				+smayProjItem(3, 'Завод Volkswagen, Вжесня (Польша)')
					p Завод Volkswagen в городе Вжесня занимает 220 гектар. Производственные мощности предприятия позволят выпускать более 100,000 автомобилей в год. На заводе установлены сложные системы электроснабжения, так как разные технические процессы требуют свои мощности для функционирования без перебоев.
				+smayProjItem(4, 'WARSAW SPIRE')
					p Огромный опыт работы компании SMAY с небоскребами показывают, что помимо использования механических решений, включающих применение регулятора постоянного расхода воздуха, необходимо использовать активные системы, которые позволять более точно подбирать параметры работы систем вентиляции системы и противопожарных элементов.
	// end sSmayProj

mixin smayProjItem(imgNum, title)
	+e.item
		+e.A.img(href='#')
			+e.img-inner
				img(loading="lazy" src=`img/@2x/smay-proj-img-${imgNum}.jpg`)
		+e.content
			+e.title=title
			+e.date 28.03.2019
			+e.txt
				block
			+e.A.det-link(href="#")
				span Подробнее
				+icon('arrow-right')