extends layout/main.pug


include ../blocks/sContent/_sContent.pug
include ../blocks/sContact/_sContact.pug
include ../blocks/sAdvantages/_sAdvantages.pug
include ../blocks/sCatalog/_sCatalog.pug
include ../blocks/sServices/_sServices.pug
include ../blocks/sHit/_sHit.pug
include ../blocks/sProject/_sProject.pug

include ../blocks/sProdPage/_sProdPage.pug
include ../blocks/sHow/_sHow.pug
include ../blocks/sAbout/_sAbout.pug
include ../blocks/sLogoes/_sLogoes.pug
include ../blocks/sLoudWords/_sLoudWords.pug

block variables
	- let  mainPage= null
block title
	- let  title= '04-about'
	title= title
block pagecontent
	//- +mob-mnu()
	+header()
		.container
			.row.align-items-center
				.col.col-lg-12
					+topLine()
				.col-auto.col-lg-12
					+top-nav()
	+sAbout()
	+sProject('Качество нашей продукции подтверждается ее присутствием на самых разных объектах', true)(class='about-page-projects')
	+sLogoes()
	+sLoudWords()
	+sForm()(class="static-form")
	+footer()


	