mixin sCatalogSlider()
	// start sCatalogSlider
	+b.SECTION.sCatalogSlider.section#sCatalogSlider&attributes(attributes)
		.container
			+b.section-title.text-center
				h2 sCatalogSlider
				
			.row
	// end sCatalogSlider