// start .topLine
.topLine {
	padding-top: rem(10px);
	padding-bottom: rem(10px);

	&__logoTitle {
		padding-top: 6px;
		color: rgba($color: $body-color, $alpha: 0.6);
		font-size: rem(12px);
	}

	.form-wrap {
		position: relative;

		&__btn {
			position: absolute;
			right: rem(5);
			@include a-cent(y);
			border: none;
			outline: none;
			background-color: transparent;
		}

		.icon {
			font-size: rem(19);
			color: $body-color;
		}
	}

	&__tel {
		font-size: rem(20px);
		color: $body-color;
		display: block;
		font-weight: bold;

	}

	&__call {
		color: $primary;
		border-bottom: solid 1px $primary;

		&:hover {
			border-color: transparent;
		}
	}

	&__mail, &__hours, &__location {
		display: flex;
		align-items: center;
		.icon {
			font-size: rem(20);
			margin-right: 10px;
			color: $body-color;
		}
	}

	&__mail, &__hours {
		margin-bottom: 10px;
	}

	&__mail {
		span {
			@include mt;
			border-bottom: solid 1px $primary;
		}
		&:hover span{
			border-color: transparent;
		}
	}

	&__location {
		color: $body-color;
	}

	&__col {
		position: relative;
		&::after {
			content: '';
			width: 2px;
			height: 170%;
			@include a-cent(y);
			right: 0;
			border-radius: 30px;
			background-color: rgba($color: $body-color, $alpha: 0.04);
			position: absolute;

		}
	}

	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-up(xs) {}
	
	//
	@include media-breakpoint-between(md, xl) { }
	
	
	//
	@include media-breakpoint-only(xs) {}
	@include media-breakpoint-only(sm) {}
	@include media-breakpoint-only(md) {}
	@include media-breakpoint-only(lg) {}
	@include media-breakpoint-only(xl) {}
	
	//
	@include media-breakpoint-down(xl) {}
	@include media-breakpoint-down(lg) {}
	@include media-breakpoint-down(md) {}
	@include media-breakpoint-down(sm) {}
	@include media-breakpoint-down(xs) {} 

} // end.topLine