// start .topLine
.topLine {
	@include media-breakpoint-up(sm) {
		padding-bottom: rem(9px);
		padding-top: rem(9px);
	}

	&__logoTitle {
		padding-top: 6px;
		color: rgba($color: $body-color, $alpha: 0.6);
		font-size: rem(12px);
	}

	&__logo {
		@include media-breakpoint-up(xl) {
			margin-right: rem(10);
		}
		display: block;
	}

	.form-wrap {
		max-width: 369px;
		position: relative;

		&__btn {
			position: absolute;
			right: rem(9);
			top: rem(2);
			border: none;
			outline: none;
			background-color: transparent;
		}

		.icon {
			font-size: rem(19);
			color: $body-color;
		}
		@include media-breakpoint-down(md) {
			display: none;
			position: absolute;
			width: 250px;
			right: -100px;
			z-index: 5;
			top: 53px;
		}
		@include media-breakpoint-down(sm) {
			top: 39px;

		}
	}

	&__btnOpen {
		.icon {
			font-size: rem(19);
			color: $body-color;
		}
	}

	&__tel {
		// font-size: ;
		@include media-breakpoint-up(lg) {
			font-size: rem(20px);
		}
		color: $body-color;
		display: block;
		font-weight: bold;
		@extend .mono;
	}

	&__searchCol {
		@include media-breakpoint-down(sm) {
			padding-right: 0;
			padding-left: 0;
			text-align: right;
		}
		position: relative;
	}

	&__call {
		color: $primary;
		border-bottom: solid 1px $primary;
		font-size: 14px;

		&:hover {
			border-color: transparent;
		}
	}

	&__mail, &__hours, &__location {
		display: flex;
		align-items: center;
		.icon {
			font-size: rem(20);
			margin-right: 10px;
			color: $body-color;
		}

		span {
			font-size: 14px;
		}
	}

	&__mail, &__hours {
		margin-bottom: 8px;
	}

	&__mail {
		span {
			@include mt;
			border-bottom: solid 1px $primary;
		}
		&:hover span{
			border-color: transparent;
		}
	}

	&__location {
		color: $body-color;
	}

	&__col {
		position: relative;
		@include media-breakpoint-up(xl) {
			padding-right: 27px;
		}
		@include media-breakpoint-up(lg) {
			&::after {
				content: '';
				width: 2px;
				height: 170%;
				@include a-cent(y);
				@include media-breakpoint-up(xl) {
					right: rem(5);
				}
				right: 0;
				border-radius: 30px;
				background-color: rgba($color: $body-color, $alpha: 0.04);
				position: absolute;

			}
		}
	}

	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-up(xs) {}
	
	//
	@include media-breakpoint-between(md, xl) { }
	
	
	//
	@include media-breakpoint-only(xs) {}
	@include media-breakpoint-only(sm) {}
	@include media-breakpoint-only(md) {}
	@include media-breakpoint-only(lg) {}
	@include media-breakpoint-only(xl) {}
	
	//
	@include media-breakpoint-down(xl) {}
	@include media-breakpoint-down(lg) {}
	@include media-breakpoint-down(md) {}
	@include media-breakpoint-down(sm) {}
	@include media-breakpoint-down(xs) {} 

} // end.topLine