mixin topLine()
	// start topLine
	+b.topLine#topLine&attributes(attributes)
		.row.align-items-center
			.col.col-sm-auto
				+e.logo(href="/")
					img.res-i(src="img/@2x/logo.png", alt="")
					+e.logoTitle.d-none.d-lg-block Доставка по Москве и регионам России
			+e.searchCol.col-auto.col-sm
				+e.btnOpen
					.d-md-none
						+icon('search')
					+form-wrap
						+input('Поиск','search')
						+e.btn(type='button')
							+icon('search')

			+e.col.col-auto.d-none.d-lg-block.text-right
				+e.tel(href="tel:74956639601") +7 (495) 663-96-01
				+e.call.link-modal(href="#modal-call") Перезвоните мне
			.col-auto.d-none.d-lg-block
				+e.mail(href="mailto:sales@inplast.ru")
					+icon('mail')
					span sales@inplast.ru
				+e.hours
					+icon('clock')
					span 09:00–18:00 по будням
				+e.location(href="https://yandex.ru/maps/-/CCQxE0qqxD" target='_blank')
					+icon('location')
					span г. Москва
	// end topLine