mixin sFilter()
	// start sFilter
	+b.sFilter#sFilter&attributes(attributes)
		+e.itemWrap
			+e.item
				+e.title Цена
				+range('100.99','999999.99')
		+e.itemWrap
			+e.item
				+e.title Производитель 
				+in-c('checkbox','Manufacturer name (1000)','manufacturer')
				+in-c('checkbox','Manufacturer name (100)','manufacturer')
				+in-c('checkbox','Manufacturer name (10)','manufacturer')
				+in-c('checkbox','Manufacturer name (0)','manufacturer')
				+in-c('checkbox','Manufacturer name (0)','manufacturer')
				+in-c('checkbox','Manufacturer name (0)','manufacturer')
				+in-c('checkbox','Manufacturer name (0)','manufacturer')
				+in-c('checkbox','Manufacturer name (0)','manufacturer')
				+in-c('checkbox','Manufacturer name (0)','manufacturer')

		+e.itemWrap
			+e.item
				+e.title Материал
				+in-c('checkbox','Material name (1000)','material')
				+in-c('checkbox','Material name (100)','material')
				+in-c('checkbox','Material name (10)','material')
				+in-c('checkbox','Material name (0)','material')
				+in-c('checkbox','Material name (0)','material')
				+in-c('checkbox','Material name (0)','material')
				+in-c('checkbox','Material name (0)','material')
				+in-c('checkbox','Material name (0)','material')
				+in-c('checkbox','Material name (0)','material')
				+in-c('checkbox','Material name (0)','material')

		+e.itemWrap
			+e.item
				+e.title Name
				+range('0','100000')
		+e.itemWrap
			+e.item
				+e.title Name
				+in-c('checkbox','Text (1000)','name')
				+in-c('checkbox','Text (100)','name')
				+in-c('checkbox','Text (10)','name')
				+in-c('checkbox','Text (0)','name')
				+in-c('checkbox','Text (0)','name')
				+in-c('checkbox','Text (0)','name')
				+in-c('checkbox','Text (0)','name')
				+in-c('checkbox','Text (0)','name')
				+in-c('checkbox','Text (0)','name')
				+in-c('checkbox','Text (0)','name')
		+e.buttons
			+e.btn(type="button") Показать
			+e.skip(type="button") Сбросить


	// end sFilter