mixin mob-mnu()
	-
		//- let path = require('path');
		//- let fs = require('fs');
		//- var requestURL = 'top-nav.json';
		//- var request = new XMLHttpRequest();
		//- request.open('GET', requestURL);
		//- request.responseType = 'json';
		//- let dataJson = JSON.parse(json);
	//- h1= dataJson['lala'] 
	+b.toggle-menu-mobile--js.d-lg-none
		span
	+b.menu-mobile--js.d-lg-none
		+b.toggle-menu-mobile--js
			span
		+e.inner
			+mnu()
			+e.footer
				+e.tel(href="tel:74956639601") +7 (495) 663-96-01
				+e.call.link-modal(href="#modal-call") Перезвоните мне
				+e.mail(href="mailto:sales@inplast.ru")
					+icon('mail')
					span sales@inplast.ru
				+e.hours
					+icon('clock')
					span 09:00–18:00 по будням
				+e.location(href="https://yandex.ru/maps/-/CCQxE0qqxD" target='_blank')
					+icon('location')
					span г. Москва
			.text-right
	//  мобильное меню
mixin top-nav() 
	// start top-nav
	+b.top-nav.block-with-lazy
		.row.align-items-center
			.col.d-none.d-lg-block
				+mnu()
			+e.col.col-lg-auto
				+b.comparison(href="#")
					+icon('comp')
					+e.quantity 1
				+b.basket
					a(href="#")
						+icon('basket')
					+e.quantity 1
					+e.drop
						+e.item
							table
								tr
									td
										+pic('hit-1.png')
									td
										+e.title Гигиенический воздухораспределитель NAF
									td 
										+e.amount 1 шт.
									td
										+e.ptice 66 666 ₽
									td
										+e.delete(type="button")
											+icon('delete')
						+e.totalPrice
							span Итого:
							+e.total 66 666 ₽
						+e.btn(href="#") Оформить заказ
				+mob-mnu
	// end top-nav