mixin sJournal()
	// start sJournal
	+b.sJournal.section#sJournal&attributes(attributes)
		.container
			+breadcrumb('Главная', 'Статьи')
			mixin item(data)
				+e.item
					.row
						+e.picCol.col-md-5.col-lg-3
							+pic('journal-' + data.img,'','')
						+e.textCol.col
							+e.title= data.title
							+e.date 24.01.2017 
							p= data.text
							div
								+e.btn(href="#" tab-index="0") Подробнее...
			+e.wrap
				+item({
					img: '1.png',
					title: 'Рым-болты: конструкция и назначение',
					text: 'Рым-болт представляет собой грузозахватное приспособление, которое служит для подъема и перемещения грузов при производстве такелажных работ. Как правило, данный вид крепежа используется для захвата массивных и тяжелых деталей, оборудования и конструкций. '
				})
				+item({
					img: '2.png',
					title: 'Что такое монтажная шина',
					text: 'Шина монтажная — крепежный элемент, который используется для обустройства воздуховодов и прочих компонентов вентиляционных систем. Главное достоинство таких креплений — в отсутствии сварочных соединений и возможности регулировки конструкций по высоте. '
				})
				+item({
					img: '3.png',
					title: 'Ручной балансировочный клапан: назначение и особенности монтажа',
					text: 'Шина монтажная — крепежный элемент, который используется для обустройства воздуховодов и прочих компонентов вентиляционных систем. Главное достоинство таких креплений — в отсутствии сварочных соединений и возможности регулировки конструкций по высоте. '
				})
				+item({
					img: '4.png',
					title: 'Принцип работы балансировочного клапана',
					text: 'Балансировочные клапаны являются важным элементом, обеспечивающим надежность работы системы отопления. Он исключает возникновение ситуаций, когда на один радиатор подается избыточное количество теплоносителя, а на другой, наоборот, недостаточное. '
				})
				+item({
					img: '4.png',
					title: 'Принцип работы балансировочного клапана',
					text: 'Балансировочные клапаны являются важным элементом, обеспечивающим надежность работы системы отопления. Он исключает возникновение ситуаций, когда на один радиатор подается избыточное количество теплоносителя, а на другой, наоборот, недостаточное. '
				})
			+e.btnWrap
				+e.load(href="#" tab-index="0") Загрузить ещё


	// end sJournal