mixin sSmay()
	// start sSmay
	+b.SECTION.sSmay.section#sSmay&attributes(attributes)
		+e.top-block
			+e.bg
				img(src="img/@2x/sSmay-bg.jpg" alt="")
			.container
				+b.section-title
					h2 SMAY
					p — это польская консалтингово-производственная компания, которая с 1989 года является поставщиком комплектирующих и оборудования для вентиляционных установок и кондиционирования воздуха, способствующих повышению энергоэффективности и безопасности инженерного оборудования зданий.
		.container
			+e.txt
				p Качество предлагаемых  компанией «SMAY» изделий подтверждено многими техническими апробатами и сертификатами, в том числе гигиеническими, а также многочисленными научно-исследовательскими  разработками. Благодаря этому изделия устанавливаются и обеспечивают комфорт во многих престижных зданиях: гостиницах, торговых домах, больницах, комфортабельных офисах и промышленных объектах. Все это позволяет уверенно удерживать и укреплять свои позиции на рынке. Подтверждением гарантии качества продукции являются многочисленные награды фирме и изделиям.
				h4 Свою деятельность компания «SMAY» концентрирует на нескольких основных областях:
				ul
					li противопожарные системы вентиляционных систем
					li системы защиты от задымления путей эвакуации в случае возникновения пожара путём создания избыточного давления
					li системы регулировки воздуха
					li системы воздухоотводов с возможностью регулировки воздушного потока в лабораториях
					li системы распределения воздуха
					li системы струйной вентиляции гаражей
					li комплектирующие для окончательного монтажа вентиляционных установок.
				h4 «SMAY» предоставляет свои услуги в области:
				ul
					li консультационных услуг, способствующих принятию правильного решения при выборе системы вентиляции жилищного здания и противопожарной вентиляции;
					li проектирования соответственных систем дифференцирования давления для низких, высоких и очень высоких объектов;
					li проектирования систем струйной вентиляции гаражей;
					li проектирования систем регулировки воздушного потока в лабораториях;
					li поставки нетипичных решений и систем;
					li сервисного обслуживания.
				p
					| Самое важное для SMAY – это безопасность и надёжность установки, а прежде всего - удовлетворение Клиента.
					br
					| С самого начала своей деятельности фирма особое внимание обращает на развитие своего производственного потенциала, благодаря чему и в ответ на все растущий рыночный спрос появляется новое оборудование и решения.
				h4 Образовательная деятельность:
				p Объединение основательных теоретических знаний с практическими навыками  – это самая лучшая инвестиция в будущих инженеров. Понимая это, «СМАЙ» постоянно сотрудничает с высшими учебными заведениями в области создания лабораторий, их оборудования, предоставления возможности студентам прохождения практических занятий и стажировок, проведения научно-исследовательских работ, обучения студентов.
				+e.video-block
					+videoFrame('smay-video')
					+e.v-txt
						h4 В настоящее время компания сотрудничает с:
						ul
							li Варшавским политехническим институтом
							li Краковским политехническим институтом
							li Горно-металлургической академией
							li Западнопоморским технологическим университетом
							li Познаньским политехническим институтом
							li Силезским политехническим институтом
							li Институтом механики сплошных пород Польской академии наук
				p Большим достижением компании «SMAY» в области сотрудничества с высшими учебными заведениями было открытие в 2012 году лаборатории противопожарной вентиляции на Факультете Инженерии Окружающей Среды Варшавского политехнического института. Лаборатория является эффектом сотрудничества Факультета Инженерии Окружающей Среды, фирмы ПЛЮМ из г. Бялысток и ООО «SMAY».
				p Компания также сотрудничает со многими научно-исследовательскими организациями такими как: Институт Строительной Техники в Варшаве или Институт промышленной аэромеханики  в г. Аахен (Германия).
	// end sSmay